/** Replies Richlist by jingwei.li **/
dl.with-arrow{
	padding-top: 6px;
	background: url(http://a.xnimg.cn/imgpro/box/box_bg.gif) no-repeat;
	display:block;
}
dl.replies dt, dl.replies dd {
	margin-bottom: 2px;
	padding: 6px;
	background-color: #f0f5f8;
	border-bottom: 1px solid #e6eff7;
	background-repeat: no-repeat;
	*zoom: 1;
}
dl.replies dd {
	min-height: 50px;
	_height: 50px;
}
dl.replies dt.digged {
	padding-left: 20px;
	/*background-image: url(http://a.xnimg.cn/imgpro/icons/digg.gif);
	background-position: 5px center;*/
    background:url(http://a.xnimg.cn/n/apps/photo/cssimg/ilike2.png);background-position:3px -86px;
    background-repeat:no-repeat;
}
dl.replies dd:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
dl.replies dd {
	clear: both;
	word-wrap: break-word;
	*zoom: 1;
}
ul.figures {
	font-size: 0;
}
ul.figures li {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	*display: inline;
	*zoom: 1;
}
dl.replies dd.diggers li {
	width: 50px;
	margin-right: 7px;
	_margin-right:4px;
	*display:inline;
}
dl.replies dd.diggers li {*zoom:1;}

dl.replies dd.diggers li div.figure img {
	width: 50px;
	height:auto;
}
dl.replies dd.diggers img.avatar {
	display: block;
	float: none;
	margin: 0 auto;
	height: 30px;
	width: 30px;
}
dl.replies dd.diggers .name {
	font-size: 12px;
	text-align: center;
}
dl.replies dd a.avatar {
	float: left;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 8px;
    overflow:hidden;
	*zoom: 1;
}
dl.replies dd img.avatar {
	width: 50px;
	float:left;
}
dl.replies dd div.info {
	margin-left: 58px;
	line-height: 1.4em;
}
dl.replies dd div.reply {
	margin-left: 58px;
	_zoom: 1;
}
dl.replies dd span.time {
	font-size: 10px;
	color: #808080;
}
dl.replies dd p.content {
	display: inline;
	white-space:normal;
	word-wrap:break-word;
	word-break:break-all;
	overflow:auto;
}
dl.replies dd .control-box {
	padding: 5px 0 0 0;
}
dl.replies dd .control-box .time {
	float: left;
	_display: inline;
}
dl.replies dd .control-box .btn-box {
	float: right;
	_display: inline;
}
dl.replies dt.add {
	position: relative;
}
dl.replies dt.add img.avatar {
	display: none;
}
dl.replies dt.add input.input-submit {
	display: none;
}
dl.replies dt.add span.chars-count {
	display: none;
}
dl.replies dt.add img.avatar {
	display: none;
}
dl.replies dt.add textarea {
	width: 100%;
	height: 24px;
	padding: 4px;
	margin: 0;
	border: 1px solid #BDC7D8;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
dl.replies dt.add.actived {
	padding-left: 38px;
}
dl.replies dt.add.actived img.avatar {
	display: block;
	float: left;
	position: relative;
	margin-right: -34px;
	left: -34px;
	vertical-align: top;
}
dl.replies dt.add.actived textarea {
	height: 40px;
	margin-bottom: 3px;
	border-color: #5D74A2;
}
dl.replies dt.add.actived input.input-submit {
	display: inline;
}
dl.replies dt.add.actived span.chars-count {
	display: inline;
	position: absolute;
	right: 4px;
	color: #CCC;
	font-size: 11px;
}


dl.replies  .reply p span{
	color:#333;
	}
	
dl.replies {
	width:468px;
}

#comment.commentinalbum #simpleEditPan .bxTool{
	width:465px;
    padding-right:3px;
}
#simpleEditPan .bxTool{
	width:468px;
	background-color:#EBF3F7;
	position:static;
	margin:0;
}
.album-info #comment.commentinalbum #simpleEditPan textarea#cmtbody{
	width:462px !important;
}
.photo-comments #comment.commentinalbum #simpleEditPan textarea#cmtbody{
	width:462px !important;
}
dl.replies a.x-to-hide {
	background:transparent url(http://a.xnimg.cn/imgpro/bg/cs_home.png) no-repeat scroll -225px -24px;
	display:block;
	height:14px;
	text-decoration:none;
	width:14px;
}
dl.replies a.x-to-hide:hover{
	background-position:-225px -38px;text-decoration:none
}
.whisper {
	background:transparent url(http://a.xnimg.cn/img/lock_red_new.png) no-repeat scroll 0 2px;
	float:right;
	font-weight:bold;
	padding-left:15px;
	padding-right:5px;
	line-height:15px;
}
.bxTool,dl.replies{*margin:0;zoom:1}
.ajax_msgerror{
	margin:0;
    padding:10px;
    background: none repeat scroll 0 0 #FFEBE8;
    text-align:center;
    border:1px solid #DD3C10;
}
dl.replies dt{
	min-height:0px;
}
#replyform {*zoom:1;border:1px #ffffff solid;}/*border for patch IE7’s unknown margin  bo.hu*/
#editorFormB`tn{width:90px;}
a.ilike_icon{ background:url(http://a.xnimg.cn/imgpro/icons/ilike.png) no-repeat; padding-left:16px;}

/* home Ilike style move here */
div.mincmt-diggers {
	background-color:#EBF3F7;
	margin-bottom:2px;
	padding:4px;
}

div.mincmt-diggers p {
	background:transparent url(http://a.xnimg.cn/imgpro/icons/digg.gif) no-repeat scroll left center;
	padding-left:16px;
}

div.mincmt-diggers ul.digger li {
	display:inline-block;
	padding:4px 0;
	vertical-align:top;
	width:50px;
	margin-right:7px;
	*display:inline;
	*zoom:1;
}
div.mincmt-diggers .name {
	font-size:12px;
	margin-top:2px;
	text-align:center;
}
div.mincmt-diggers .name a {
	line-height:12px;
}

/*reply report by zufang.wang @ 2010-04-07*/
.replies a.reply-report{color:#8D9CCF;}
.replies a.reply-report:hover{color:#005EAC;}

/* share guide */
dl.replies dd.guide-to-share {
	min-height: 0;
	_height: auto;
	text-align: center;
	border: 1px solid #CEE1EE;
	background: #E3EEF8;
}
dl.replies .guide-to-share span.text {
	background: url(http://a.xnimg.cn/imgpro/icons/right.png) left center no-repeat;
	padding-left: 20px;
}
dl.replies .guide-to-share a.share-this {
	color: #333;
	display: inline-block;
	zoom: 1;
	border: 1px solid #8B8B8B;
	background: url(http://a.xnimg.cn/imgpro/button/btn-bg.png) 0 0 repeat;
	height: 19px;
	line-height: 19px;
	padding: 0 10px;
	margin: 0 5px;
	outline: 0 none;
}
dl.replies .guide-to-share a.share-this:visited {
	color: #333;
}
dl.replies .guide-to-share a.share-this:hover {
	text-decoration: none;
	color: #333;
	border-color: #333;
}
.circleCommentIcon{
	display: inline-block;
	position: relative;
	width:14px;
	height:14px;
	vertical-align: middle;
	margin-left:2px;
	margin-top:-1px;
	background: url(http://a.xnimg.cn/n/apps/photo/cssimg/photo-layer/photo_icons.png) 0 -516px no-repeat;
}